{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search Results
{% endblock %}

{% block body %}
    <h2>Search Results for "{{ query }}"</h2>

    {% if results %}
        <ul>
            {% for entry in results %}
                <li><a href = "{% url 'entry' entry %}">{{ entry }}</a></li> <!-- the href 'entry' is the name of the url and entry is the variable that takes the place of what title is-->
            {% endfor %}
        </ul>
    {% else %}
        <p>No entries found matching your query.</p>
    {% endif %}
{% endblock %}